.main-container {
  padding: 20px;
}

.indicators {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.block:first-child {
  border-radius: 8px 0 0 8px;
}

.block:last-child {
  border-radius: 0 8px 8px 0;
}

.block {
  width: 100%;
  height: 16px;
  background-color: rgba(129, 124, 49, 0.472);
}

.block.active {
  background-color: rgb(173, 166, 64);
}

.block.wrong {
  background-color: red;
}

.block.correct {
  background-color: rgb(1, 150, 1);
}

.test-block {
  margin: 0 auto;
  margin-bottom: 20px;
}

.counter {
  color: rgb(178, 178, 178);
  padding: 32px 0 16px;
  font-size: 18px;
}

.question {
  margin-bottom: 8px;
}

.image-container {
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.answers-box {
  text-decoration: none;
  list-style-type: none;
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.answer-item {
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all linear 0.3s;
}

.answer-item:hover {
  background-color: antiquewhite;
}

.skip {
  color: rgb(178, 178, 178);
  cursor: pointer;
  transition: all linear 0.3s;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 1px solid #fff;
}

.skip:hover {
  border-bottom: 1px solid rgb(178, 178, 178);
}

.m-fl {
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

/* media queries */

@media (max-width: 320px) {
  .indicators {
    gap: 5px;
  }
  .counter {
    padding: 16px 0;
  }
  .m-fl > .image-container {
    height: 250px;
  }
}
