.wrapper {
  padding: 30px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.heading {
  font-weight: 600;
  font-size: 20px;
}
.counter {
  font-size: 14px;
}
.form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 5px 12px -5px red;
  transition: all liner 0.3s;
}
.question {
  padding: 20px;
  display: flex;
  font-size: 18px;
  border-bottom: 2px solid rgba(167, 166, 166, 0.271);
  align-items: center;
}
.question input {
  width: 100px;
  margin: 0 8px;
  border: 1px dashed red;
  font-size: 16px;
  padding: 8px 10px;
}
.buttons {
  display: flex;
  padding: 20px;
}

/* media queries */

@media (max-width: 541px) {
  .topBar {
    flex-direction: column;
    gap: 8px;
  }
  .question {
    flex-direction: column;
    gap: 8px;
  }
  .buttons {
    padding: 12px;
    display: flex;
    justify-content: space-around;
  }
}
