.list-group {
    list-style: none;
    margin-bottom: 30px;
}
.test {
   background-color: #44425A;;
   padding: 10px 50px;
}
.options {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
    column-gap: 10px;
}
.h4-test {
    margin-top: 30px;
    padding-bottom: 30px;

    border-bottom: 3px solid #FF6600;
}